.glyphicon {
    height: 1em;
    width: 1em;
    /*vertical-align: middle;*/
    /*display: table-cell;*/
}

.time-picker-simple {
    font-size: 1.5rem;

    background-color: lightblue;
    width: 100%;
    min-width: 150px;
    max-width: 450px;
    display: grid;
    grid-template-columns: minmax(80px, 10%) minmax(80px, 10%) minmax(80px, 10%);
    grid-template-rows: auto 1fr ;
    grid-template-areas:
            "hour       minute      amOrPm";
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.hour { grid-area: hour; }
.minute { grid-area: minute; }
.amOrPm { grid-area: amOrPm; }

.wheel {
    background-color: pink;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr ;
    /*grid-template-columns: minmax(80px, 150px);*/
    grid-template-areas:
            "tp-inc"
            "tp-display"
            "tp-dec";
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.tp-inc { grid-area: tp-inc; }
.tp-display { grid-area: tp-display; }
.tp-dec { grid-area: tp-dec; }
